.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.kely{
  width: 20%;
  height: 5cm;
  text-align: center;
}
.panier{
  display: flex;
}
img{
  width: 4cm;
  height: 4cm;
}
h1{
  text-transform: uppercase;
  width: 75%;
  padding: 4%;
  color: rgb(188, 191, 27)
}
h1:hover{
  color: rgb(60, 50, 50);
}
.tsyHeader{
  display: flex;
  background-color: rgb(16, 2, 2);
  color: white;
}
.right{
  text-align: right;
  display: flex;
  margin-top: 5%;
  width: 25%;
  font-size: x-small;
}
a{
  text-decoration: none !important;
  color: white !important;
}
.produit{
  background-color: #e9dfb8;
  color: white;
  text-align: center;
  width: 25%;
  border-radius: 3%;
  border:3px solid rgb(188, 191, 27) ;
  margin-left: 3%;
  margin-top: 3%;
  padding: 4%;
}
.aff{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.panierbtn{
  background-color: #000000;
  border:2px rgb(180, 167, 15);
  width: 70%;
  color:rgb(180, 167, 15);
}
.flex{
  display:flex;
}
.com{
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(155, 144, 42);
  color: white;
  width: 25%;
  height: 3cm;
  margin-left: 5%;
  padding: 3%;
  margin-bottom: 10px;
}
.com h4{
  color:rgb(11, 52, 83);
}
/* .panierito div{
  width: 30%;
} */
.form{
  margin-top: 10%;
  justify-content: center;
  background-color: white;
  position: sticky;
}
.form input{
  width: 50%;
}
.form button{
  width: 50%;
}
.formadmin{
  background-color: rgb(190, 202, 213) ;
  justify-content: center;
  display: block;
  padding: 5%;
  align-items: center;
  text-transform: uppercase;
}
.formadmin form{
  width: 75%;
  background-color: white;
  border-radius: 5%;
}
.titreAdmin{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  position: relative;
  text-transform: none !important;
}
.formadmin input{
  width: 60%;
  height: 1cm;
  border: none !important;
  background-color: rgb(190, 202, 213);
}
.formadmin button{
  width: 50%;
  margin-top: 3%;
}
.logo{
  width: 3cm;
  height: 3cm;
  margin-top: 4%;
  margin-left: 3%;
  clip-path: circle(47%);
}
.photo{
  margin-top: 10%;
  width: 100%;
  height: 14cm;
}
h2{
  color: #000000;
}
.panierito{
 width: 97%;
 display: flex;
 position: fixed;
 opacity: 1;
 background-color: #ffffffeb;
 vertical-align: middle;
 text-align: center;
 align-items: center;
 margin-left: 20px;
 margin-right: 30px;
 border-radius: 0 0 5% 5%;
}
.panierito button{
  background-color: rgb(157, 16, 9);
  color: white;
  width: 3cm;
  right: -500px;
  border: #000000;
  margin-left: 250px;
}
.panierito h4{
  margin-left: 5px;
}
.tsyHeader{
  position: sticky;
}
.tsyHeader h4{
  margin-left: 10px;
  margin-right: 5px;
}
.rec{
  margin-top: 55px !important;
}
.panierito div{
  display: block;
}
.homeSlide{
  width: 85% !important;
  background-color: #ffffff;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 20px 20px 20px 20px;
  border: 5px solid rgb(183, 163, 50);
}
.homeSlide h1{
  font-size: 4rem !important;
  margin-left: 57px !important;
  color: rgb(166, 18, 18) !important;
}
.homeSlide ul {
  position: absolute;
  bottom: 20px;
}
.homeSlide ul li{
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button{
  background: transparent !important;
  color: transparent !important;
}
.homeSlide ul li button::before{
  font-size: 15px;
  color:peru;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}
.homeSlide .box{
  display: flex !important;
}
.homeSlide .box .left{
  width: 70%;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 30px;
}
.homeSlide .box .right{
  width:30%;
}
.homeSlide .box img{
  width: 100%;
  height: 100% ;
}
.btn-primary{
  background-color: palevioletred;
}
.homeSlide img{
  mix-blend-mode: multiply;
}
.tout{
  margin-top: 50px;
}
.icone{
  margin-left: -850px;
}
.icone1{
  margin-left: 35px;
}
.blabla{
  margin-left: -11px;
}
.aff img{
  mix-blend-mode: multiply;
}
.lololo{
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}
.tableau{
  width: 100%;
}
.aff{
  width:100%;
  
}
.coma td{
  width: 2cm;
  border: 2px solid #000000;
}
.como th{
  border: 2px solid #000000;
  background-color: #e9dfb8;
}
.block{
  display: flex;
  flex-wrap: wrap;
}