@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
footer{
  
    bottom: 0px;
    width: 180%;
    background: #111;
    color: #d9d9d9;
    
}
.tout{
    display: flex;
    height: 45%;

}
.esti{
    font-size: 200%;
    position: relative;
    left: -500px;
}
.tete{
    position: relative;
    left: 20px;
    top: 20px;
}
.ADDRESS{
    font-size: 150%;

    
}
.ADD{
    position: relative;
    right: 31%;
    width: 24%;
    top: 20px;

}
.doc{
    position: relative;
    top: 25px;

}
.COURSES{
    font-size: 150%;
}
.Sub{
 font-size: 150%;
 position: relative;
 top: -30px;
}
.entete{
    position: relative;
    right: 200px;
    top: 20px;
}
.para{
    width: 34%;
    position: relative;
    top: 18px;
    color: white;
    left: 20px;
}
.icone a i{
    position: relative;
    top: 50px;
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    transition:0.4s ;
    left: 20px;
}
.icone a i:hover{
    background:#ffc045;
}
.GPS  i {
    position:relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color:#fff;
    background:#1a1a1a;
    margin-right: 15px;
    transition:0.4s ;
}
.phone i{
    position:relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color:#fff;
    background:#1a1a1a;
    margin-right: 15px;
    transition:0.4s ;
}
.envelope i{
    position:relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color:#fff;
    background:#1a1a1a;
    margin-right: 15px;
    transition:0.4s ;
}
.GPS i:hover{
    background:#0a91ab;
}
.phone i:hover{
    background:#0a91ab;
}
.envelope i:hover{
    background:#0a91ab;
}
.COU{
    position: relative;
    right: 320px;
    top: 20px;
}
.membre{
    position: relative;
    top: 35px;

}
.img ion-icon{
    font-size: 30px;
    position: relative;
    right: 30px;
}
input{
    position: relative;
    /* top: -60px; */
    /* left: 120px; */
    height: 32px;
}
#envoyer{
    position: relative;
    left:147%;
    top: -99px;
    width: 85px;
    height: 40px;
    background: #ffc045;
}
.underline{
    width: 100px;
    height: 5px;
    background: #767676;
    border-radius:3px ;
    position: absolute;
    top: 30px; 
    left: -400px;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #ffc045;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0%{
        left: -7px;
    }
    100%{
        left: 90%;
    }
}
.logo{
    position: relative;
    top: 105px;
    margin-left: 40%;

}
    

